<% content_for :head do %>
  <script type="text/javascript"> window.user = <%= @user.to_json.html_safe %> </script>
<% end %>


  <center>
  <div class="login">
    <div class="loader">
      <i class="fa fa-facebook-official"></i>
      <div class="text">
        Login
      </div>
    </div>
    
  </div>
  </center>

  <div class="main">
    
    <div class="user">
    </div>
    
    
    <div class="calendar">
    </div>
    <div class="import">
      import ICS &nbsp; <input type="file" id="files" accept="text/calendar" name="files[]" multiple />
    </div>
    
  </div>

